<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527453052231-4u14qk6r4latruulkbotvmiq79fgda7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527453052231-4u14qk6r4latruulkbotvmiq79fgda7p</string>
	<key>API_KEY</key>
	<string>AIzaSyA0T9uT5a2N6yT0DvXr8Ej5gKNLR0gVmMw</string>
	<key>GCM_SENDER_ID</key>
	<string>527453052231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.portfolio</string>
	<key>PROJECT_ID</key>
	<string>portfolio-92859</string>
	<key>STORAGE_BUCKET</key>
	<string>portfolio-92859.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527453052231:ios:4f7ca9b97f6989ed9a0062</string>
</dict>
</plist>